---
interface Props {
    question: string;
    category: string;
    tag: string;
}

const { question , category, tag } = Astro.props;

const categoryColor = {
    'FIRST': 'bg-red-500',
    'SECOND': 'bg-orange-400',
    'THIRD': 'bg-yellow-300',
    'FOURTH': 'bg-green-400',
    'FIFTH': 'bg-cyan-400',
    'SEVENTH': 'bg-blue-400',
    'DONE': 'bg-black',
}[category] || 'hidden';

---

<div class="relative block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="flex justify-center items-center gap-2">
        <p class={`${categoryColor} py-1 px-3 rounded-full text-white`}>
            { category }
        </p>
    </div>
    <h5 class="mb-2 mx-4 py-10 text-xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
        { question }
    </h5>
    <div class="flex justify-center items-center gap-2">
        #{ tag }
    </div>
</div>